version: '3.9'

services:
  web:
    image: node:12-alpine
    working_dir: /app
    container_name: node-alpine-udacity
    command: sh -c "npm install && npm run dev"
    depends_on:
      - thepgdb
    volumes:
      - ./:/app
    ports:
      - '3000:3000'
    env_file:
      - .env
    networks:
      - backend
  thepgdb:
    image: postgres:14.1-alpine
    container_name: postgres-alpine-udacity
    ports:
      - '5432:5432'
    env_file:
      - .env
    volumes:
      - 'postgres:/var/lib/postgresql/data'
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - backend
networks:
  backend:
    driver: bridge
volumes:
  postgres:
